*{
    margin: 0;
    padding: 0;
}
*,*::before,*::after{
    box-sizing: border-box;
}
body{
    font-size: 18px;
}
button{
    font: inherit;
}
a{
    text-decoration: none;
    color: inherit;
}
li{
    list-style: none;
}
@media (min-width:500px){
    .page{
        height:100vh;
        display: flex;
        overflow: hidden;
    }
}
.page aside{
    width: 120px;
    border:1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.page main{
    border:1px solid ;
    flex-grow: 1;
}
.page aside .upper{
    display: flex;
    flex-direction: column;
}
.button{
    padding:3px 10px;
}
.page aside .actions li{
    margin:20px;
}
.page aside .down{
    padding: 20px;
}
.resume {
    max-width: 800px;
    margin:0 auto;
}
.resume section{
    margin:50px 0;
}
.resume section h1{
    text-align: center;
    margin:20px;
}
.resume section h2{
    text-align: center;
    margin:20px;
}
.resume .profile{
    text-align: center;
}
.resume .skills > ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.resume .skills > ul > li{
    width: 48%;
    border:1px solid #ddd;
    padding: 10px;
    margin-top: 10px;
}

.resume .projects{

}
.resume .projects > ul{

}
.resume .projects > ul >li{

}