*{margin:0;padding: 0;box-sizing: border-box;}
a{text-decoration: none;}
ul li{list-style: none;}
@keyframes circle{0%{transform: rotate(0deg);}100%{transform: rotate(360deg);}}
.page{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: transparent url(http://p4.music.126.net/z4p2xss2a50qNHe6TLFdoA==/2425522650910827.jpg) no-repeat center;
    background-size: cover;
}
.disc-container{
    position: relative;
}
.disc-container .pointer{
    width:24vw;
    position: absolute;
    left: 45vw;
}
.disc-container .disc{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:16vw;
}
.disc-container .cover{
    width: 44.5vw;
    position: absolute;
    border-radius: 50%;
    animation: circle 20s linear infinite ;
    animation-play-state: paused;
}

.disc-container.playing .light ,
.disc-container.playing .cover{
    animation-play-state: running;
}
.disc-container .ring{width:72vw;}
.disc-container .light{
    width:72vw;
    position: absolute;
}
.son-description{
    flex-grow: 1;
    color:#AEABAC;
    text-align: center;
    margin-top:20px;
    line-height:2;
}
.son-description .lines{
    transition:transform 0.3s;
}
.son-description p.active{
    color:white;
}
.page>.links{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.page>.links>a{
    width:38.5vw;
    margin: 1em;
    color:#D33A31;
    background: transparent;
    text-align: center;
    border: 1px solid#D33A31;
    padding:1.5vw;
    font-size: 18px;
    letter-spacing: 1vw;
    border-radius: 24px;
}
.page>.links>.download{
    background: #D33A31;
    color: white;
}
.son-description .lyric{height: 72px;overflow: hidden;}
.son-description h1{font-size: 18px;color:white;}
.son-description p{font-size: 14px;line-height:24px;}
.disc-container .iconfont{
    position: absolute;
    color:white;
    font-size:15vw;
    z-index: 1;
}
.disc-container .icon-pause{display: none;}
.disc-container.playing .icon-pause{display: block;}
.disc-container.playing .icon-play{display: none;}



